h1 {
    color: blueviolet;
}

h2{
    color: bisque;
}

.premierp {
  color: #16a085;
}

.dexiemep {
  color: #e74c3c;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
.premierli{
    color: blue;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: start;
}
.deuxiemeli{
    color: #16a085;
    font-size: large;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.troisiemeli{
    text-align: end;
    font-weight: 300;
}

.div1{
    height: 200px;
    width: 200px;
    background-color: blue;
    border-radius: 50%;
}
.div2{
    height: 200px;
    width: 200px;
    background-color:#e74c3c;
    border-radius: 50%;
}
.div3{
    height: 200px;
    width: 200px;
    background-color:#16a085;
    border-radius: 50%;
}
.divmaman{
    display: flex;
    flex-direction: row-reverse;
}

.div21{
    align-self:flex-start;
    height: 200px;
    width: 200px;
    background-color: blue;
    border-radius: 50%;
}
.div22{
    align-self:center ;
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
}
.div23{
    align-self: flex-end ;
    height: 200px;
    width: 200px;
    background-color: green;
    border-radius: 50%;
}
.divmaman2{
    display: flex;
    flex-direction: column;
}
.divspacebetween div{
    height: 200px;
    width: 200px;
    background-color: green;
    border-radius: 50%;    
}
.divspacebetween{
    display: flex;
    justify-content: space-between;
}
.divcenter div{
    height: 200px;
    width: 200px;
    background-color: orange;
    border-radius: 50%;    
}
.divcenter{
    display: flex;  
    justify-content: center;
}
.divspacearound div{
    height: 200px;
    width: 200px;
    background-color: purple;
    border-radius: 50%;    
}
.divspacearound{
    display: flex;  
    justify-content: space-around;
}
.divspaceevenly div{
    height: 200px;
    width: 200px;
    background-color: pink;
    border-radius: 50%;    
}
.divspaceevenly {
    display: flex;  
    justify-content: space-evenly;
}
.divh1title {
    display: flex;
    justify-content: center;
    align-items: center;
}